--only-binary=all

streamlit==1.36.0
ultralytics==8.3.18
easyocr==1.7.1
pandas==2.2.3
numpy==2.2.4
openpyxl==3.1.5

# Сначала ставим headless
opencv-python-headless==4.8.1.78

# Затем ПЕРЕУСТАНАВЛИВАЕМ, чтобы гарантировать замену gui-версии (если появилась)
--force-reinstall opencv-python-headless==4.8.1.78
